{% extends 'base.html' %}
{% load static %}

{% block back %}<a href="{% url 'news-list' %}">&larr; Все обновления</a>{% endblock %}

{% block back_footer %}<a href="{% url 'news-list' %}">К списку новостей</a>{% endblock %}

{% block title %}{{ news_entry.title }} - {{ block.super }}{% endblock %}

{% block page_title %}{{ news_entry.title }}{% endblock %}

{% block page_content %}
    <div class="block" >{{ news_entry.text|default_if_none:""|safe }}</div>
{% endblock %}